
.container2 {
  display: flex; 
  flex-direction: column;/* or inline-flex */
  justify-content: space-evenly;
}
.movieCard {
display: flex;
justify-content: center;
}
.card {
display: flex;
flex-wrap: wrap;
width: auto;
justify-content: center;
align-items: center;
}

.container {
  display: flex; 
  flex-direction: row;/* or inline-flex */
  flex-wrap: wrap;
}
.top10{
  height: 200px;
  width: auto;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.copyright {
  font-size: .75rem;
  padding: 20px 0 5px 0;
}

.footer {
  background-color: rgb(115, 0, 128);
  border-top:2px solid rgb(11, 11, 11);
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
}

.Nav-link {
  margin: 5px; 
text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
display: flex;
justify-content: center;
}
.btn1:hover {
color: black;
}

.searchresults {
display: flex;
display:inline-block;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
margin: 10px 15px;
width: 180px;
height: auto;
}
.listbox {

  width: 300px;
  margin: 2px 0 0;
  padding: 0;
  position: absolute;
  list-style: none;
  background-color:  #fff;
  overflow: auto;
  max-height: 250px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.homeCarousel {
margin-top: 50px;
}

.genrebtn {
background-color: 
#E6E6E6;
color: black;
border: none;
margin-top: 30px;
align-items: baseline;
justify-content: flex-start ;
margin-bottom: 20px;
font-size: 18px;

}
.genrebtn:hover {
background-color: #ec5020aa ;
color: white;
border-radius: 3px;
border-color:#E6E6E6!important ;
border-width: 5px;
}
.genreselect {
overflow: hidden;
flex-wrap: wrap;
}
.imgGenreFilter {
margin: 5px;
margin-left: 10px;

}
.genreCategories {
margin-bottom: -20px;
margin-top: 40px;

}

