
.container2 {
  display: flex; 
  flex-direction: column;/* or inline-flex */
  justify-content: space-evenly;
}
.movieCard {
display: flex;
width: 100%;
justify-content: center;
overflow: hidden;
}
.card {
display: flex;
flex-wrap: wrap;
width: auto;
justify-content: center;
align-items: center;
}

.container {
  display:flex;
  flex-direction: row;/* or inline-flex */
  flex-wrap:nowrap;
  justify-content:flex-start;
  text-align:left;
  text-overflow:initial;

}

.top10{
  height: 200px;
  width: auto;
}


.App {
  text-align: center;
}
.App2 {
  border: 75px solid #1F1D2B;
  text-align: center;
  display: flexbox; 

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.copyright {
  font-size: .75rem;
  padding: 20px 0 5px 0;
}

.footer {
position: relative;
  background-color: #1F1D2B;
  border-top:2px solid rgb(11, 11, 11);
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 10px;
height: 8.5rem;
}

.footer2{
  background-color: #1F1D2B;
}

.Nav-link {
  margin: 5px; 
text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
display: flex;
justify-content: center;
}
.btn1:hover {
color: black;
}

.searchresults {
display: flex;
display:inline-block;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
margin: 10px 15px;
width: 180px;
height: auto;
}
.listbox {

  width: 300px;
  margin: 2px 0 0;
  padding: 0;
  position: absolute;
  list-style: none;
  background-color:  #fff;
  overflow: auto;
  max-height: 250px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.homeCarousel {
margin-top: 50px;
}

.genrebtn {
background-color: 
#E6E6E6;
color: black;
border: none;
margin-top: 30px;
align-items: baseline;
justify-content: flex-start ;
margin-bottom: 20px;
font-size: 18px;

}
.genrebtn:hover {
background-color: #ec5020aa ;
color: white;
border-radius: 3px;
border-color:#E6E6E6!important ;
border-width: 5px;
}
.genreselect {
overflow: hidden;
flex-wrap: wrap;
justify-content: center;
}
.imgGenreFilter {
margin: 5px;
margin-left: 10px;

}
.genreCategories {
margin-bottom: -20px;
margin-top: 40px;

}

.contactpic {
display: flex;
width: 100%;
}
.logolanding {
position:absolute;
width: 450px;
margin: 105px;
-webkit-filter: drop-shadow(5px 5px 5px #222);
z-index: 2;
}

.text-landing{
position: absolute;
display: flex;
justify-content: center;
width: 300px;
color: white;
margin: 296px;
text-shadow: 2px 1px black;
align-items: center;
}






.landingbtn {
position:absolute;
display: flex;
justify-content: center!important;
justify-content: space-around;
align-items: center;
background-color: #EC4E20;
color: white!important;
text-decoration: none!important;
font-size: 12px;
border-radius: 5px;
width: 200px;
height: 40px;
text-align: center;
border: none;
margin: 300px;
box-shadow:  0px 0px 40px black;
}
.landingbtn2 {
  position: absolute;
  display: flex;
  justify-content: center !important;
  justify-content: space-around;
  align-items: center;
  background-color: #be3005;
  color: white !important;
  text-decoration: none !important;
  font-size: 12px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  text-align: center;
  border: none;
  margin: 300px;
  box-shadow: 0px 0px 40px black;
}

.landingbtn1 {
position:absolute;
display: flex;
justify-content: center!important;
justify-content: space-around;
align-items: center;
background-color: #EC4E20 !important;
color: white!important;
text-decoration: none!important;
font-size: 12px;
border-radius: 5px;
width: 200px;
height: 40px;
text-align: center;
border: none;
margin: 300px;
box-shadow:  0px 0px 40px black;
}
.email-icon {

-webkit-filter: invert(50%);

filter: invert(100%)!important;
}




#phone-icon {

-webkit-filter: invert(50%);

filter: invert(100%)!important;
}


.fbicon-landing {
justify-content: flex-start;
align-items: center;
}
.btn-all {
position: absolute;
/* z-index: 1; */
display: flex;
justify-content: center;
margin: 341px;
}


.btn-all .landingbtn1:hover {
background-color: #ec5020af;
}


#page-container {
  position: relative;
  min-height: 100vh;
background-color: #1F1D2B;
}

#content-wrap {
background-color: #1F1D2B;
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
.movieDetail-page{
background-color: #E6E6E6;
border: 85px solid #1F1D2B;
border-width: 20px;
padding: 20px;
position: relative;
text-align: center;
}

.backToTopButton {
  background-color: #EC4E20;
  color: white;
  font-size: 14px;
font-weight: bold;
  border-radius: 10px;
  width: 140px;
  height: 200px;
  text-align: center;
  border: solid white .5px;
  margin: 20px;
border: none;
  }

.backToTopButton:hover {
background-color: #d24318;

}

.shareButton{
    background-color: #EC4E20;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px;
    width: 141px;
    height: 29px;
    text-align: center;
    border: solid white 0.5px;
    margin: 8px;
    border: none;
    position: relative;
    /* display: flex; */
    border-radius: 10px;
    /* justify-content: flex-end; */
    right: -1200px;
}

.shareButton:hover {
background-color: #d24318;

}

p {
  font-family: 'DM Sans', sans-serif !important;
}

h1 {
  font-family: 'DM Sans', sans-serif !important;
}

h2 {
  font-family: 'DM Sans', sans-serif !important;
}

h3 {
  font-family: 'DM Sans', sans-serif !important;
}

h4 {
  font-family: 'DM Sans', sans-serif !important;
}

h5 {
  font-family: 'DM Sans', sans-serif !important;
}

h6 {
  font-family: 'DM Sans', sans-serif !important;
}

ul {
  text-align: center;
  list-style-position: inside;
}

ol {
  text-align: center;
  list-style-position: inside;
}

