
/* #editprofile {
	box-shadow: 0 15px 30px 1px rgb(64, 46, 46);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
	margin: 2em auto;
	height: auto;
	width: 600px;
justify-content: center;
  border: none;
} */


.form .editprofile {
justify-content: center;
align-items: center;
text-align: center;
margin: auto;

}
.avataredit {
border-radius: 50%!important;
width: 200px;
height: 200px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);

}
.usernameedit {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
letter-spacing: 0.12px;
color: #000000;
margin-bottom: -8px;
}
.editalign {
flex-direction: column;
justify-content: center;
/* position:relative; */
/* display:block; */
/* justify-content: center!important; */
/* z-index: 1; */
}

.fullname {
position: relative;
z-index: 1!important;
background-color: #000000;
color: white;
width: fit-content;
 margin-bottom: -9px;
/* margin-left: 190px; */

}


.editbox {
/* position: relative; */
font-size: 15px;
border-radius: 40px;
width: 200px;
height: 40px;
left: 675px;
top: 881px;
background-color: white;
text-align: center;
/* z-index: 1; */
}
.editbox:hover {
border-color: orange;
}
.edit-all  {
display: flex;
flex-direction:column;
justify-content: center!important;
text-align: center!important;

}



.useremailedit {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
color: #000000;
}
.editprofilebtn {
z-index: 1;
background-color: #EC4E20;
color: white;
font-size: 15px;
border-radius: 40px;
width: 200px;
height: 40px;
left: 675px;
top: 881px;
text-align: center;
border: none;
margin: 10px;
}
.editprofilebtn:hover {
background-color: #d24318;

}
.profilechange {
border: none;

}
.avataredit:hover {
filter: grayscale(100%);
cursor:pointer;
}

.editprofile {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
background-color: rgb(240, 240, 244);
width:100%;
padding: 20px;
/* margin: 100px; */
/* height: 800px; */
border: none;
/* box-shadow: 0 15px 30px 1px ; */
}
.form{
justify-content: center;
align-items: center;
border: none!important;
/* width: 700px!important; */
/* height: 600px; */
text-align: center;
/* padding: 80px!important; */

}

.fileupload {
/* position: absolute; */
width: 300px;
justify-content: center;
align-items: center;
/* margin: -293px 141px; */
    /* padding: 60px */
}
.Appnow {
background-color: #1F1D2B;
padding: 100px;

}

/* .borderfresh {
border: none;
background-color: #1F1D2B ;
position: relative;
display: flex;
justify-content: center;
} */
.App-edit {
display: absolute;

}
.profile-pic {
border-radius: 90px!important;
}
