.AppBar {
background-color: #1F1D2B!important;
}

.btn1 {
justify-content: space-between;
text-decoration: none;
color: rgb(245, 242, 242)!important;
margin: 10px;
font-weight: bold;
}
.btn1:hover {
color: rgb(7, 5, 5)!important;
z-index: 1;
}
.btn2 {
display: absolute;
margin: 5px!important;
font-weight: bold;
}

.search{
color: white!important;
background-color: rgba(13, 13, 13, 0.336);
}
.searchicon {
color: white!important;
z-index: 1;
}
.logout {
position: absolute!important;
right: 0px!important;
}
.profilelink {
display: flex!important;
justify-content: center!important;
text-decoration: none;
color: black;
margin: 3px;
font-weight: bold;
}
#menu-appbar {
margin: 40px 10px;
}
.avatar_circle {
/* width: 100px; */
margin: -25px 10px  ;
}
.box {
position: absolute;
right: 40px!important;
align-items: center;
margin: -5px 0px;
}

.logo {
/* z-index: -auto; */
/* margin: 0px 3px; */
position:static;
padding: 0px 5px;
}
.namehome {
display: flex;
justify-content: center;
margin: -30px 10px 20px;
}
.btn2 {
margin: 10px;
justify-content: space-between;
}

.searchfunction {
color: rgb(237, 227, 227)

}
.navbarstay {

top:0;
left:0;
width:100%;

}
