.AppBar {
background-color: #1F1D2B!important;
border-width: 5px;
}

/* .AppBar1 {
border-bottom:  solid white;
} */

.btn1 {
justify-content: space-between;
text-decoration: none;
color: rgb(245, 242, 242)!important;
margin: 10px;
font-weight: bold;
}
.btn1:hover {
color: rgb(7, 5, 5)!important;
z-index: 1;
}
.btn2 {
display: absolute;
margin: 5px!important;
font-weight: bold;
}

.search{
color: white!important;
background-color: rgba(13, 13, 13, 0.336);
}
.searchicon {
color: white!important;
z-index: 1;
}
.logout {
position: absolute!important;
right: 15px!important;
top: 19px;
}
.profilelink {
display: flex!important;
text-decoration: none;
color: black;
margin: 2px;

}
#menu-appbar {
margin:80px 10px;
}
.avatar_circle {

width: 50px!important;
height: 50px!important;
margin: -8px 20px  ;
border-radius: 30px;
/* filter: grayscale(100%); */
/* -webkit-filter: grayscale(90%); */
/* -webkit-transition: all 1s ease; */
}

/* .avatar_circle:hover {
filter: grayscale(10%);
filter: rgb(235, 28, 28);
-webkit-filter: grayscale(50%);
filter: none;
transition: 1s ease;
} */

.box {
position: absolute;
right: 40px!important;
align-items: center;
margin: -5px 0px;
}

.logo {
/* z-index: -auto; */
/* margin: 0px 3px; */
position:static;
padding: 0px 5px;
}
.namehome {
display: flex;
justify-content: center;
margin: -30px 10px 20px;
}
.btn2 {
margin: 10px;
justify-content: space-between;
}

.searchfunction {
color: rgb(237, 227, 227)

}
.navbarstay {

top:0;
left:0;
width:100%;

}
.language {
justify-content: end;
      left: -148px;
    width: 71px;
    position: absolute;
    display: block;
    z-index: 1;
    top: 53px;
}
.Language-drop {
border-radius: 15px;
border: none;
background-color: #1F1D2B;
color: white;
}
.renderLeft {
    align-items: baseline;
    bottom: -19px;
    position: relative;
display: flex;
}
.name-nav {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    font-size: 15px;
    bottom: -34px;
    left: -73px;
}
.no-user {
background-color: #1F1D2B;
border: none;
margin: 0px; 
}
