.check {
z-index: 1;
margin: 30px;
color: rgba(255, 255, 255, 0.664);

position: relative;
top: -145px;
left: 128px;
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.check2 {
margin: 30px;
z-index: 1;
color: rgba(255, 255, 255, 0.664);
position: relative;
top: -145px;
left: 128px;
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.check3 {
margin: 30px;
z-index: 1;
color: rgba(255, 255, 255, 0.664);

position: relative;
top: -145px;
left: 128px;
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.check4 {
margin: 30px;
z-index: 1;
color: rgba(255, 255, 255, 0.664);

position: relative;
top: -145px;
left: 128px;
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.check-align{
    display: flex;
    position: relative;
    justify-content: space-between;
    justify-content: center;
    align-items: flex-start;
    left: 350px;
top: 330px;
}
.landing-home {
    max-width: 2200px;
min-width: 1000px;
text-align: center;
/* height: 1000px; */
width: 100%;
    background-color: white;
    position: relative;

display:block;
    justify-content: center;
   top: 666px;
    left: -500px;
}
.landing-all{
position:relative;
display: flex;
height: 2000px;
width: 100%;
background-color: #1F1D2B;
/* flex-direction: column; */
justify-content: center;

}
.landingPage {
background-color: #1F1D2B!important;
display: flex;
position: absolute;
width: auto;
justify-content: center;
left:0;
top:0;
}
.backpic {
display: flex ;
border: 2px solid #be3005;
width: 100%;
height:auto;

}
.homeGenre1 {
display: flex;
    position: relative;
    width: 974px;
    height: 400px;
    overflow: scroll;
}
