.App1 {
border: 75px solid #1F1D2B;
background-color: #ffffff;
padding: 10px;
text-align: center;
}

.orangewording {
  align-content: stretch;
  color: #EC4E20;
  justify-content: flex-start;
}

.titlename {
  display: flex;
  justify-content:right;
  padding: 20px;
  text-align: right;
}

.container {
  display: flex; 
  flex-direction: row;/* or inline-flex */
  flex-wrap: wrap;
}

.logincard {
display: flex;
justify-content: center;
align-items: center;
}

.loginnames {
display: flex;
justify-content: center;
font-weight: bold;
margin: 15px;
}


.align {
display: flex;
flex-direction: row;
justify-content: center;
}

.pagebutton {
  background-color: #EC4E20;
  color: white;
  font-size: 13px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  margin: 10px;
  }

  .pagebutton:hover {
    background-color: #d24318;
    
    }

    .sline {
      background-color: red;
      width: 60px;
      margin-left: 80px;
      
      }
      .bline {
      background-color: red;
      width: 700px;
      overflow: hidden;
      
      }

      .searchall {
        display: flex;
        height: 30px;
        margin: 80px;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 80px;
        }



