.App1 {
border: 75px solid #1F1D2B;
background-color: #ffffff;
padding: 10px;
text-align: center;
}

.miniwording {
  align-content: stretch;
  color: #628395;
  justify-content: flex-start;
}

.titlename {
  display: normal;
  padding: 0px;
  text-align: center;
}

.container {
  display: flex; 
  flex-direction: row;/* or inline-flex */
  flex-wrap: wrap;
}



.pagebutton {
  background-color: #EC4E20;
  color: white;
  font-size: 13px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  margin: 10px;
  }

.pagebutton:hover {
background-color: #d24318;

}

.smallline {
background-color: #EC4E20;
width: 80px;
margin-left: 10px;
}

.bigline {
background-color: #EC4E20;
width: 700px;
overflow: hidden;
}

.titleline{
  display: flex;
  height: 30px;
  margin: 60px;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 60px;


}




