.App1 {
border: 75px solid #1F1D2B;
background-color: #ffffff;
padding: 20px;
text-align: center;
position: relative;
}

.miniwording {
  align-content: stretch;
  color: #628395;
  justify-content: flex-start;
}

.titlename {
  display: normal;
  padding: 0px;
  text-align: center;
}

.container {
  display: flex; 
  flex-direction: row;/* or inline-flex */
  flex-wrap: wrap;
}



.pagebutton {
  background-color: #EC4E20;
  color: white;
  font-size: 13px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  margin: 10px;
  }

.pagebutton:hover {
background-color: #d24318;

}

.smallline {
background-color: #EC4E20;
width: 80px;
margin-left: 10px;
}

.bigline {
background-color: #EC4E20;
width: 700px;
overflow: hidden;
}

.titleline{
  display: flex;
  height: 30px;
  margin: 60px;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 60px;


}


.Popular-P {
display: flex;
position: relative; 
flex-direction: row;
margin: 50px 0px;
background-color: #efefef;

box-shadow: rgba(212, 106, 20, 0.25) 0px 50px 100px -50px, rgba(250, 154, 65, 0.3) 0px 30px 60px -40px, rgba(144, 50, 13, 0.35) 0px -2px 6px 0px inset;
}

.movie-title {
height: fit-content;
display: flex;
align-items: center;
justify-content: center;
position: relative;


}

.potatoe-rating {
   display: flex;
    justify-content: flex-start;

    align-items: center;
    flex-direction: column;
    position: relative;
  bottom: -16px;
}

.Top-10{
         height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;

}
.rating-number {
width: 77px;
}

.story-line {
display: flex;
    flex-direction: column;
    width: fit-content;
    top: -49px;
    justify-content: center;
    position: relative;
    margin: 52px;
}
.story-title {
margin: 22px;
    margin-bottom: -4px;
}
.release {
display: flex;
    position: relative;
    justify-content: center;
   

}

.popular-container {
border: #d24318;
}
.pop-percent {
color: #EC4E20;

}
